@import "variables";
@import "mixins";
@import "normalize";
@import "layout";

/* Components */

/* Sections */
@import "sections/sidebar.scss";
@import "sections/topbar.scss";
@import "sections/main.scss";

/* Pages / Views */
 /* @import "pages/registration"; */

body {
    height: 100vmax;
}

.links{
    display: flex;
    justify-content: center;

    ul{
        list-style-type: none;
        
        
        li{
            border-bottom: 1px solid #E3E3E3;
            width: 685px;
            
            p,a,div{
                display: inline;
            }  
            
            div.title{
                
                p{
                font-size: 16px;
                font-family: "Roboto";
                color: rgb(166, 166, 166);
                font-weight: bold;
                line-height: 2.625;
                text-align: left;
                position: relative;
                padding-bottom: 30px;
                width: 150px;
                }
            } 
            
            div.btns{
                float: right;
                padding-right: 5px;
                a{
                    padding: 0 5px;                    
                    img.btn-small{
                        width: 25px;
                        height: 25px;
                        padding-top: 10px; 
                        visibility: hidden; 
                    }   
                }
                a:hover{
                    img{
                        filter: invert(90%)
                    }
                }
            }
            div.link{
                position: absolute;
                left: 875px;
                padding-top: 10px;
            }
        
        }

        li:hover{
            background-color: rgb(177, 191, 191);
                div.btns{
                    a{
                        img{
                            visibility: visible;
                        }
                    }    
                }   
        }

        .up{
            border-top: 1px solid #E3E3E3;
        }
    }
}

.button-wrapper{
    display: flex;
    justify-content: center;
    padding: 20px;
    
    .add{
        border-radius: 3px;
        background-color: rgb(245, 130, 32);
        width: 127px;
        height: 40px;
        text-decoration: none;
        font-size: 18px;
        font-family: "Roboto";
        color: rgb(255, 255, 255);
        line-height: 2.333;
        text-align: center;
                
    }
    .add:hover{
        background-color: rgb(255, 162, 0);
        transform: scale(1.1);
    }
}



@media(max-width:767px){
    
    .sidebar{
        
        width: 100%;
        //border: 2px solid red;

        .nav{
            display: none;
        }
        .show{
            display: block;
            z-index: 9999;
        }
        .logo{
            width: 190px;
        }
        .formtwo{
                    
            background-color: rgba(255, 255, 255, .1);
            border-bottom: 1px solid black;
            height: 60px;
            
            ul{
                //border: 2px solid red;
                margin: 0;
                float: right;
                padding: 0;
                
    
                .lineone {
                    width: 1px;
                    height: 60px;
                    
                }
                
                li{
                    display: inline;
                    text-align: center;
                    vertical-align: middle;
                    float: left;
                    //border: 2px solid yellow;
                    height: 60px;
                    padding-top: 10px;
                                       
                    a{
                        border: none;
                        background: none;
                        font-size: 17px;
                        font-family: "Roboto";
                        color: rgb(156, 156, 156);
                        line-height: 2.1;
                        text-decoration: none;
                        
                        
                        .arrow{
                            width: 10px;
                            height: 10px;
                        }
                    }
    
                    img{
                        width: 18px;
                        height: 18px;
                        filter: invert(55%);
                        position: static;
                        vertical-align: middle;
                                            }
    
                    p{
                        font-size: 13px;
                        font-family: "Roboto";
                        color: rgb(86, 129, 159);                           
                    }
                }
                .wallet{
                    width: 130px;
                }
                .notification{
                    width: 35px;
                }
                .profile{
                    width: 130px;
                }
                .quit{
                    width: 35px;
                }
            }
        }
    }

    .topbar{
        display: none;
        .form{
            
            ul{
                
                li{
                    margin: 0 auto;
                }
            }

            .lineone{
                height: 53px;
            }
        }
        
    }

    .main{
        margin: 0;
        .content{
            .maincontent{
                margin: 0 17px;
                .date{
                    display: flex;
                    justify-content: center;
                    
                }
                .links{
                    li{
                    width: 450px;
                        div.link{
                            position: absolute;
                            left: 225px;
                        }
                    }
                }
            }
        }
    }
    
   .earnings{
       .xscroll{
            display: block;
            width: 100%;
            overflow-x: auto;
       }
   } 

   .roow{
       padding: 0 15px;
   }
   
}









  






  


  
  


  



