.sidebar {
    width: 190px;
    background-color: black;
    height: 800px;
    color:white;

    ul{
        list-style: none;
        line-height: 3;
        padding: 0 0 0 12px;
    }
    a{
        text-decoration: none;
        color: #979797;
        font-size: 14px;
        font-family: "Roboto";
    }
    .line {
        background-color: rgb(51, 51, 51);
        position: absolute;
        width: 280px;
        height: 1px;
        justify-content: center;
    }
    .icon {
        color: white;
        width: 15px;
        height: 15px;
        margin-right: 20px;
        margin-left: 20px;
        filter: invert(55%);
    }
    .messanger{
        text-transform: uppercase;
        color: #979797;
        font-size: 14px;
        font-family: "Roboto";
        padding: 25px 0 0 30px; 
    }
}