.topbar {
    height: 60px;

    .logo {
        background-color: black;
        float: left;
        height: 60px;

        img {
            position: absolute;
            left: 50px;
            top: 18px;
        }
        .fa-bars {
            color: grey;
            float: right;
            padding: 20px 18px 0 0;
            font-size: 22px;;
        } 
    }

    .form {
        background-color: white;
        height: 60px;
        
        img{
            width: 20px;
            height: 20px;
            filter: invert(55%);
            vertical-align: middle;
        }
        ul{
            float: right;
            margin: 0;
        }
        li{
            display: inline-block;
            text-align: center;
            
        }
        button{
            border: none;
            background: none;
            font-size: 20px;
            font-family: "Roboto";
            color: rgb(156, 156, 156);
            line-height: 2.1;
            
        }
        p{
            font-size: 13px;
            font-family: "Roboto";
            color: rgb(86, 129, 159);
            line-height: 2.1;
                   
        }
        .arrow{
            width: 10px;
            height: 10px;
        }
        .wallet{
            width: 190px;
        }
        .notification{
            width: 55px;
        }
        .profile{
            width: 175px;
        }
        .quit{
            width: 60px;
        }
        .lineone {
            background-color: #E3E3E3;
            position: absolute;
            width: 1px;
            height: 60px;
        }
    }
    
}




  
  